@import '~bootstrap/scss/bootstrap';

.home-jumbotron{
    height: calc(100vh - 70px);
    background-image: url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80');
    background-position: bottom, center;
    background-size: cover;
    
}
